body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: rgb(0, 75, 0);
  color: white;
  padding: 10px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
}

#subheader {
  background-color: rgba(0, 75, 0, 0.686);
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-size: large;
}

#subheader2{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: rgba(0, 75, 0, 0.686);
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-size: large;
}

#title {
  grid-column: 1/6;
}

#content{
  padding-top: 15px;
  padding-left: 10px;
  font-family:'Times New Roman', Times, serif;
  font-size: large;
  min-height: 100vh;
  overflow-y: scroll; /* Allow vertical scrolling */
}

#content2{
  padding-top: 15px;
  padding-left: 10px;
  font-family:'Times New Roman', Times, serif;
  font-size: large;
  min-height: 600vh;
  overflow-y: scroll; /* Allow vertical scrolling */
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

button{
  font-size: large;
  width: max-content;
  height: 30px;
}

#login {
  text-align: center;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-color: black;
}

